<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Eat-Da-Burger</title>
        {{!-- CSS Link --}}
        <link rel = "sylesheet" href="/assets/css/style.css" type="text/css">
        {{!-- JQuery Link --}}
        <script src="https://code.jquery.com/jquery.js"></script>
        {{!-- Bootstrap CSS Link --}}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
         {{!-- Java Script Link --}}
        <script src ="/assets/js/script.js"></script>
    </head>

    <body>
        {{{ body }}}
    </body>
</html>