

<div class = "contianer">
    <div class= "jumbotron bg">
    <h1 class="main mb-5 text-center text-white display-2">Eat-Da-Burger</h1>
    <br>
    <br>
    <div class="row mt-5">
        <div class="col-sm-12">
            <form id="input">
                <div class="form-group">
                   
                    <input type="text" id = "burger-input" class="form-inline form-control form-control-lg border-white " placeholder="Type the burger you want to eat!">                    
               </div>
                <button type="submit" class="btn mb-2 ml-1" id ="submit-btn">Submit</button>
                
            </form>
        </div>
    </div>

    </div>

    <div class="row mt-3">
        <div class="col-sm-6">
            <div class = "card border-dark">
                <div class="card-header bg-dark text-white">
                    Burger to eat
                </div>
                <ul class="list-group list-group-flush border-white">
                    {{#each burgers}}
                        {{#unless devoured}}
                         {{> burger/burger-block devoured=false}}
                        {{/unless}}
                    {{/each}}
                </ul>
                
            </div>
        </div>

        <div class="col-sm-6">
            <div class = "card border-dark">
                <div class="card-header bg-dark text-white">
                    Devoured Burgers
                </div>
                <ul class="list-group list-group-flush">
                    {{#each burgers}}
                        {{#if devoured}}
                        {{> burger/burger-devoured devoured=true}}
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>

    </div>

        

</div>

